{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    {% autoescape off %}
    <h2>{{ news_item.title|censor }}</h2>
    <span>{{ news_item.text|censor }}</br></span>
    {% endautoescape %}
    <hr>
        {% for key, value in news_item.CATEGORY_CHOICES %}
            {% if key == news_item.categoryType %}
                <span><b>{{value}}</b>,</span>
            {% endif %}
        {% endfor %}
        <span>дата публикации: {{ news_item.dateCreation|date:'d-M-Y f' }}, рейтинг: {{ news_item.rating }} ({{ news_item.author }})</span></br>
        <span>Категория: </span>
<!--{{ news_item.postCategory}}-->
        {% for category in news_item.postCategory.all %}
            <span>{{ category.name }} </span>
        {% endfor %}
        </br>

<!--    <a href="{{ request.get_full_path }}/add_subscribe" class="btn btn-primary float-center">Подписаться на данную категорию</a>-->

{% if user.is_authenticated %}
    {% if not request.user|has_group:news_item.category %}
        <button> <a href="{{ request.get_full_path }}/add_subscribe"> Подписаться</a> </button>
    {% else %}
        <button> <a style="color: red" href="{{ request.get_full_path }}/del_subscribe"> Отменить подписку</a> </button>
    {% endif %}
{% endif %}

<!--        </br>-->
<!--        <span>Подписчики: </span>-->
<!--        {{ news_item.postCategory.subscribers}}</br>-->
<!--        {% for category in news_item.postCategory.all %}-->
<!--            <span>{{ category.subscribers}} </span>-->
<!--        {% endfor %}-->


        </br></br>
        <a href="/news" class="btn btn-secondary">&lt;&lt; Все новости</a>
        <a href="{{ request.get_full_path }}/edit" class="btn btn-secondary">Редактировать</a>
        <a href="{{ request.get_full_path }}/delete" class="btn btn-secondary">Удалить</a>

{% endblock content %}


